<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lms.mapper.LmsCenterproductExportItemMapper" >
  <resultMap id="BaseResultMap" type="lms.model.LmsCenterproductExportItem" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="count" property="count" jdbcType="DECIMAL" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="LMS_Product_Export_id" property="lmsProductExportId" jdbcType="DECIMAL" />
    <result column="LMS_Product_id" property="lmsProductId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, count, description, LMS_Product_Export_id, LMS_Product_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="lms.model.LmsCenterproductExportItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LMS_CENTERPRODUCT_EXPORT_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from LMS_CENTERPRODUCT_EXPORT_ITEM
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from LMS_CENTERPRODUCT_EXPORT_ITEM
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="lms.model.LmsCenterproductExportItemExample" >
    delete from LMS_CENTERPRODUCT_EXPORT_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lms.model.LmsCenterproductExportItem" >
    insert into LMS_CENTERPRODUCT_EXPORT_ITEM (id, count, description, 
      LMS_Product_Export_id, LMS_Product_id)
    values (#{id,jdbcType=DECIMAL}, #{count,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, 
      #{lmsProductExportId,jdbcType=DECIMAL}, #{lmsProductId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="lms.model.LmsCenterproductExportItem" >
    insert into LMS_CENTERPRODUCT_EXPORT_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="lmsProductExportId != null" >
        LMS_Product_Export_id,
      </if>
      <if test="lmsProductId != null" >
        LMS_Product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="lmsProductExportId != null" >
        #{lmsProductExportId,jdbcType=DECIMAL},
      </if>
      <if test="lmsProductId != null" >
        #{lmsProductId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lms.model.LmsCenterproductExportItemExample" resultType="java.lang.Integer" >
    select count(*) from LMS_CENTERPRODUCT_EXPORT_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LMS_CENTERPRODUCT_EXPORT_ITEM
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=DECIMAL},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.lmsProductExportId != null" >
        LMS_Product_Export_id = #{record.lmsProductExportId,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsProductId != null" >
        LMS_Product_id = #{record.lmsProductId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LMS_CENTERPRODUCT_EXPORT_ITEM
    set id = #{record.id,jdbcType=DECIMAL},
      count = #{record.count,jdbcType=DECIMAL},
      description = #{record.description,jdbcType=VARCHAR},
      LMS_Product_Export_id = #{record.lmsProductExportId,jdbcType=DECIMAL},
      LMS_Product_id = #{record.lmsProductId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lms.model.LmsCenterproductExportItem" >
    update LMS_CENTERPRODUCT_EXPORT_ITEM
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="lmsProductExportId != null" >
        LMS_Product_Export_id = #{lmsProductExportId,jdbcType=DECIMAL},
      </if>
      <if test="lmsProductId != null" >
        LMS_Product_id = #{lmsProductId,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="lms.model.LmsCenterproductExportItem" >
    update LMS_CENTERPRODUCT_EXPORT_ITEM
    set count = #{count,jdbcType=DECIMAL},
      description = #{description,jdbcType=VARCHAR},
      LMS_Product_Export_id = #{lmsProductExportId,jdbcType=DECIMAL},
      LMS_Product_id = #{lmsProductId,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>




  <!--对LmsProductExport的映射-->
  <resultMap id="productExportResultMap" type="lms.model.LmsCenterproductExportItem" extends="BaseResultMap" >
    <collection property="productExportList" ofType="lms.model.LmsProductExport">
      <id column="id" property="id" jdbcType="DECIMAL" />
      <result column="transport" property="transport" jdbcType="VARCHAR" />
      <result column="description" property="description" jdbcType="VARCHAR" />
      <result column="total_count" property="totalCount" jdbcType="DECIMAL" />
      <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
      <result column="datetime" property="datetime" jdbcType="DATE" />
    </collection>
  </resultMap>
  <!--查询-->
  <select id="findProductExportResultMap" resultMap="productExportResultMap">
    select
    LMS_CENTERPRODUCT_EXPORT_ITEM.*,LMS_PRODUCT_EXPORT.*
    from LMS_CENTERPRODUCT_EXPORT_ITEM,  LMS_PRODUCT_EXPORT
    where LMS_CENTERPRODUCT_EXPORT_ITEM."LMS_Product_Export_id" = LMS_PRODUCT_EXPORT."id"
  </select>


  <!--对LmsProduct的映射-->
  <resultMap id="productResultMap" type="lms.model.LmsCenterproductExportItem" extends="BaseResultMap" >
    <collection property="productList" ofType="lms.model.LmsProduct">
      <id column="id" property="id" jdbcType="DECIMAL" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="price" property="price" jdbcType="DECIMAL" />
      <result column="unit" property="unit" jdbcType="VARCHAR" />
      <result column="LMS_Second_Category_id" property="lmsSecondCategoryId" jdbcType="DECIMAL" />
      <result column="discount" property="discount" jdbcType="DECIMAL" />
      <result column="cost" property="cost" jdbcType="DECIMAL" />
      <result column="size" property="size" jdbcType="VARCHAR" />
      <result column="LMS_Supplier_id" property="lmsSupplierId" jdbcType="DECIMAL" />
      <result column="quality_period" property="qualityPeriod" jdbcType="VARCHAR" />
      <result column="if_back" property="ifBack" jdbcType="DECIMAL" />
      <result column="if_exchange" property="ifExchange" jdbcType="DECIMAL" />
      <result column="description" property="description" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <!--查询-->
  <select id="findProductResultMap" resultMap="productResultMap">
    select
    LMS_CENTERPRODUCT_EXPORT_ITEM.*,LMS_PRODUCT.*
    from LMS_CENTERPRODUCT_EXPORT_ITEM,  LMS_PRODUCT
    where LMS_CENTERPRODUCT_EXPORT_ITEM."LMS_Product_id" = LMS_PRODUCT."id"
  </select>

</mapper>