<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lms.mapper.LmsOrderProductBackMapper" >
  <resultMap id="BaseResultMap" type="lms.model.LmsOrderProductBack" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="datetime" property="datetime" jdbcType="DATE" />
    <result column="count" property="count" jdbcType="DECIMAL" />
    <result column="LMS_Order_id" property="lmsOrderId" jdbcType="DECIMAL" />
    <result column="LMS_Product_id" property="lmsProductId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    "id", "reason", "datetime", "count", "LMS_Order_id", "LMS_Product_id"
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="lms.model.LmsOrderProductBackExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LMS_ORDER_PRODUCT_BACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from LMS_ORDER_PRODUCT_BACK
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LMS_ORDER_PRODUCT_BACK
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="lms.model.LmsOrderProductBackExample" >
    delete from LMS_ORDER_PRODUCT_BACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lms.model.LmsOrderProductBack" >
    insert into LMS_ORDER_PRODUCT_BACK (id, reason, datetime, 
      count, LMS_Order_id, LMS_Product_id
      )
    values (#{id,jdbcType=DECIMAL}, #{reason,jdbcType=VARCHAR}, #{datetime,jdbcType=DATE}, 
      #{count,jdbcType=DECIMAL}, #{lmsOrderId,jdbcType=DECIMAL}, #{lmsProductId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="lms.model.LmsOrderProductBack" >
    insert into LMS_ORDER_PRODUCT_BACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="lmsOrderId != null" >
        LMS_Order_id,
      </if>
      <if test="lmsProductId != null" >
        LMS_Product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=DATE},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DECIMAL},
      </if>
      <if test="lmsOrderId != null" >
        #{lmsOrderId,jdbcType=DECIMAL},
      </if>
      <if test="lmsProductId != null" >
        #{lmsProductId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lms.model.LmsOrderProductBackExample" resultType="java.lang.Integer" >
    select count(*) from LMS_ORDER_PRODUCT_BACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LMS_ORDER_PRODUCT_BACK
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.datetime != null" >
        datetime = #{record.datetime,jdbcType=DATE},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsOrderId != null" >
        LMS_Order_id = #{record.lmsOrderId,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsProductId != null" >
        LMS_Product_id = #{record.lmsProductId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LMS_ORDER_PRODUCT_BACK
    set id = #{record.id,jdbcType=DECIMAL},
      reason = #{record.reason,jdbcType=VARCHAR},
      datetime = #{record.datetime,jdbcType=DATE},
      count = #{record.count,jdbcType=DECIMAL},
      LMS_Order_id = #{record.lmsOrderId,jdbcType=DECIMAL},
      LMS_Product_id = #{record.lmsProductId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lms.model.LmsOrderProductBack" >
    update LMS_ORDER_PRODUCT_BACK
    <set >
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=DATE},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DECIMAL},
      </if>
      <if test="lmsOrderId != null" >
        LMS_Order_id = #{lmsOrderId,jdbcType=DECIMAL},
      </if>
      <if test="lmsProductId != null" >
        LMS_Product_id = #{lmsProductId,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="lms.model.LmsOrderProductBack" >
    update LMS_ORDER_PRODUCT_BACK
    set reason = #{reason,jdbcType=VARCHAR},
      datetime = #{datetime,jdbcType=DATE},
      count = #{count,jdbcType=DECIMAL},
      LMS_Order_id = #{lmsOrderId,jdbcType=DECIMAL},
      LMS_Product_id = #{lmsProductId,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>