<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lms.mapper.LmsStationRepetoryMapper" >
  <resultMap id="BaseResultMap" type="lms.model.LmsStationRepetory" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="DECIMAL" />
    <result column="LMS_Admin_id" property="lmsAdminId" jdbcType="DECIMAL" />
    <result column="LMS_Station_id" property="lmsStationId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, address, phone, LMS_Admin_id, LMS_Station_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="lms.model.LmsStationRepetoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LMS_STATION_REPETORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from LMS_STATION_REPETORY
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LMS_STATION_REPETORY
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="lms.model.LmsStationRepetoryExample" >
    delete from LMS_STATION_REPETORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lms.model.LmsStationRepetory" >
    insert into LMS_STATION_REPETORY (id, name, address,
    phone, LMS_Admin_id, LMS_Station_id
    )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
    #{phone,jdbcType=DECIMAL}, #{lmsAdminId,jdbcType=DECIMAL}, #{lmsStationId,jdbcType=DECIMAL}
    )
  </insert>
  <insert id="insertSelective" parameterType="lms.model.LmsStationRepetory" >
    insert into LMS_STATION_REPETORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="lmsAdminId != null" >
        LMS_Admin_id,
      </if>
      <if test="lmsStationId != null" >
        LMS_Station_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=DECIMAL},
      </if>
      <if test="lmsAdminId != null" >
        #{lmsAdminId,jdbcType=DECIMAL},
      </if>
      <if test="lmsStationId != null" >
        #{lmsStationId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lms.model.LmsStationRepetoryExample" resultType="java.lang.Integer" >
    select count(*) from LMS_STATION_REPETORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LMS_STATION_REPETORY
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsAdminId != null" >
        LMS_Admin_id = #{record.lmsAdminId,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsStationId != null" >
        LMS_Station_id = #{record.lmsStationId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LMS_STATION_REPETORY
    set id = #{record.id,jdbcType=DECIMAL},
    name = #{record.name,jdbcType=VARCHAR},
    address = #{record.address,jdbcType=VARCHAR},
    phone = #{record.phone,jdbcType=DECIMAL},
    LMS_Admin_id = #{record.lmsAdminId,jdbcType=DECIMAL},
    LMS_Station_id = #{record.lmsStationId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lms.model.LmsStationRepetory" >
    update LMS_STATION_REPETORY
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=DECIMAL},
      </if>
      <if test="lmsAdminId != null" >
        LMS_Admin_id = #{lmsAdminId,jdbcType=DECIMAL},
      </if>
      <if test="lmsStationId != null" >
        LMS_Station_id = #{lmsStationId,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="lms.model.LmsStationRepetory" >
    update LMS_STATION_REPETORY
    set name = #{name,jdbcType=VARCHAR},
    address = #{address,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=DECIMAL},
    LMS_Admin_id = #{lmsAdminId,jdbcType=DECIMAL},
    LMS_Station_id = #{lmsStationId,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>


  <resultMap id="stationRepetoryResultMap" type="lms.model.LmsStationRepetory" extends="BaseResultMap" >
    <association property="lmsStation" javaType="lms.model.LmsStation">
      <id column="id" property="id" jdbcType="DECIMAL" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="DECIMAL" />
      <result column="LMS_Admin_id" property="lmsAdminId" jdbcType="DECIMAL" />
    </association>

    <collection property="lmsAdminList" ofType="lms.model.LmsAdmin">
      <id column="ID" property="id" jdbcType="DECIMAL" />
      <result column="USERNAME" property="username" jdbcType="VARCHAR" />
      <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
      <result column="MAIL" property="mail" jdbcType="VARCHAR" />
      <result column="PHONE" property="phone" jdbcType="DECIMAL" />
      <result column="RIGHT" property="right" jdbcType="DECIMAL" />
    </collection>
  </resultMap>

  <!--一对多映射-->
  <select id="findstationRepetoryResultMap" resultMap="stationRepetoryResultMap">
    select
    LMS_STATION.*,LMS_STATION_REPETORY.*,LMS_ADMIN.*
    from LMS_STATION, LMS_STATION_REPETORY, LMS_ADMIN
    where LMS_STATION_REPETORY."LMS_Station_id" = LMS_STATION."id"
    and LMS_STATION_REPETORY."LMS_Admin_id" = LMS_ADMIN."ID"
  </select>
</mapper>