<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lms.mapper.LmsSecondCategoryMapper" >
  <resultMap id="BaseResultMap" type="lms.model.LmsSecondCategory" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="LMS_First_Category_id" property="lmsFirstCategoryId" jdbcType="DECIMAL" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, LMS_First_Category_id, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="lms.model.LmsSecondCategoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LMS_SECOND_CATEGORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from LMS_SECOND_CATEGORY
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LMS_SECOND_CATEGORY
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="lms.model.LmsSecondCategoryExample" >
    delete from LMS_SECOND_CATEGORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lms.model.LmsSecondCategory" >
    insert into LMS_SECOND_CATEGORY (id, name, LMS_First_Category_id, 
      description)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{lmsFirstCategoryId,jdbcType=DECIMAL}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lms.model.LmsSecondCategory" >
    insert into LMS_SECOND_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="lmsFirstCategoryId != null" >
        LMS_First_Category_id,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lmsFirstCategoryId != null" >
        #{lmsFirstCategoryId,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lms.model.LmsSecondCategoryExample" resultType="java.lang.Integer" >
    select count(*) from LMS_SECOND_CATEGORY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LMS_SECOND_CATEGORY
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.lmsFirstCategoryId != null" >
        LMS_First_Category_id = #{record.lmsFirstCategoryId,jdbcType=DECIMAL},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LMS_SECOND_CATEGORY
    set id = #{record.id,jdbcType=DECIMAL},
      name = #{record.name,jdbcType=VARCHAR},
      LMS_First_Category_id = #{record.lmsFirstCategoryId,jdbcType=DECIMAL},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lms.model.LmsSecondCategory" >
    update LMS_SECOND_CATEGORY
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lmsFirstCategoryId != null" >
        LMS_First_Category_id = #{lmsFirstCategoryId,jdbcType=DECIMAL},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="lms.model.LmsSecondCategory" >
    update LMS_SECOND_CATEGORY
    set name = #{name,jdbcType=VARCHAR},
      LMS_First_Category_id = #{lmsFirstCategoryId,jdbcType=DECIMAL},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>


  <resultMap id="secondCategoryMap" type="lms.model.LmsSecondCategory" extends="BaseResultMap" >
    <collection property="lmsFirstCategory" ofType="lms.model.LmsFirstCategory">
      <result column="ID" property="id" jdbcType="DECIMAL" />
      <result column="NAME" property="name" jdbcType="VARCHAR" />
      <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <!--一对多映射-->
  <select id="findsecondCategoryMap" resultMap="secondCategoryMap">
    select
    LMS_SECOND_CATEGORY.*,LMS_FIRST_CATEGORY.*
    from LMS_SECOND_CATEGORY, LMS_FIRST_CATEGORY
    where LMS_SECOND_CATEGORY."LMS_First_Category_id" = LMS_FIRST_CATEGORY."ID"
  </select>
</mapper>