<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lms.mapper.LmsTaskMapper" >
  <resultMap id="BaseResultMap" type="lms.model.LmsTask" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="DECIMAL" />
    <result column="datetime" property="datetime" jdbcType="DATE" />
    <result column="type" property="type" jdbcType="DECIMAL" />
    <result column="LMS_Order_id" property="lmsOrderId" jdbcType="DECIMAL" />
    <result column="LMS_Customer_id" property="lmsCustomerId" jdbcType="DECIMAL" />
    <result column="LMS_Station_id" property="lmsStationId" jdbcType="DECIMAL" />
    <result column="LMS_Station_Repetory_id" property="lmsStationRepetoryId" jdbcType="DECIMAL" />
    <result column="LMS_Delivery_Staff__id" property="lmsDeliveryStaffId" jdbcType="DECIMAL" />
    <result column="satisfy" property="satisfy" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    "id", "status", "datetime", "type", "LMS_Order_id", "LMS_Customer_id", "LMS_Station_id", "LMS_Station_Repetory_id",
    "LMS_Delivery_Staff__id", "satisfy", "description"
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="lms.model.LmsTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LMS_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from LMS_TASK
    where "id" = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LMS_TASK
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="lms.model.LmsTaskExample" >
    delete from LMS_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lms.model.LmsTask" >
    insert into LMS_TASK (id, status, datetime, 
      type, LMS_Order_id, LMS_Customer_id, 
      LMS_Station_id, LMS_Station_Repetory_id, LMS_Delivery_Staff__id, 
      satisfy, description)
    values (#{id,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{datetime,jdbcType=DATE}, 
      #{type,jdbcType=DECIMAL}, #{lmsOrderId,jdbcType=DECIMAL}, #{lmsCustomerId,jdbcType=DECIMAL}, 
      #{lmsStationId,jdbcType=DECIMAL}, #{lmsStationRepetoryId,jdbcType=DECIMAL}, #{lmsDeliveryStaffId,jdbcType=DECIMAL}, 
      #{satisfy,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lms.model.LmsTask" >
    insert into LMS_TASK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="lmsOrderId != null" >
        LMS_Order_id,
      </if>
      <if test="lmsCustomerId != null" >
        LMS_Customer_id,
      </if>
      <if test="lmsStationId != null" >
        LMS_Station_id,
      </if>
      <if test="lmsStationRepetoryId != null" >
        LMS_Station_Repetory_id,
      </if>
      <if test="lmsDeliveryStaffId != null" >
        LMS_Delivery_Staff__id,
      </if>
      <if test="satisfy != null" >
        satisfy,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=DATE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="lmsOrderId != null" >
        #{lmsOrderId,jdbcType=DECIMAL},
      </if>
      <if test="lmsCustomerId != null" >
        #{lmsCustomerId,jdbcType=DECIMAL},
      </if>
      <if test="lmsStationId != null" >
        #{lmsStationId,jdbcType=DECIMAL},
      </if>
      <if test="lmsStationRepetoryId != null" >
        #{lmsStationRepetoryId,jdbcType=DECIMAL},
      </if>
      <if test="lmsDeliveryStaffId != null" >
        #{lmsDeliveryStaffId,jdbcType=DECIMAL},
      </if>
      <if test="satisfy != null" >
        #{satisfy,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lms.model.LmsTaskExample" resultType="java.lang.Integer" >
    select count(*) from LMS_TASK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LMS_TASK
    <set >
      <if test="record.id != null" >
        "id" = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        "status" = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.datetime != null" >
        "datetime" = #{record.datetime,jdbcType=DATE},
      </if>
      <if test="record.type != null" >
        "type" = #{record.type,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsOrderId != null" >
        "LMS_Order_id" = #{record.lmsOrderId,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsCustomerId != null" >
        "LMS_Customer_id" = #{record.lmsCustomerId,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsStationId != null" >
        "LMS_Station_id" = #{record.lmsStationId,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsStationRepetoryId != null" >
        "LMS_Station_Repetory_id" = #{record.lmsStationRepetoryId,jdbcType=DECIMAL},
      </if>
      <if test="record.lmsDeliveryStaffId != null" >
        "LMS_Delivery_Staff__id" = #{record.lmsDeliveryStaffId,jdbcType=DECIMAL},
      </if>
      <if test="record.satisfy != null" >
        "satisfy" = #{record.satisfy,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        "description" = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LMS_TASK
    set "id" = #{record.id,jdbcType=DECIMAL},
    "status" = #{record.status,jdbcType=DECIMAL},
    "datetime" = #{record.datetime,jdbcType=DATE},
    "type" = #{record.type,jdbcType=DECIMAL},
    "LMS_Order_id" = #{record.lmsOrderId,jdbcType=DECIMAL},
    "LMS_Customer_id" = #{record.lmsCustomerId,jdbcType=DECIMAL},
    "LMS_Station_id" = #{record.lmsStationId,jdbcType=DECIMAL},
    "LMS_Station_Repetory_id" = #{record.lmsStationRepetoryId,jdbcType=DECIMAL},
    "LMS_Delivery_Staff__id" = #{record.lmsDeliveryStaffId,jdbcType=DECIMAL},
    "satisfy" = #{record.satisfy,jdbcType=VARCHAR},
    "description" = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lms.model.LmsTask" >
    update LMS_TASK
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=DECIMAL},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=DATE},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=DECIMAL},
      </if>
      <if test="lmsOrderId != null" >
        LMS_Order_id = #{lmsOrderId,jdbcType=DECIMAL},
      </if>
      <if test="lmsCustomerId != null" >
        LMS_Customer_id = #{lmsCustomerId,jdbcType=DECIMAL},
      </if>
      <if test="lmsStationId != null" >
        LMS_Station_id = #{lmsStationId,jdbcType=DECIMAL},
      </if>
      <if test="lmsStationRepetoryId != null" >
        LMS_Station_Repetory_id = #{lmsStationRepetoryId,jdbcType=DECIMAL},
      </if>
      <if test="lmsDeliveryStaffId != null" >
        LMS_Delivery_Staff__id = #{lmsDeliveryStaffId,jdbcType=DECIMAL},
      </if>
      <if test="satisfy != null" >
        satisfy = #{satisfy,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="lms.model.LmsTask" >
   update LMS_TASK
    set "status" = #{status,jdbcType=DECIMAL},
      "datetime" = #{datetime,jdbcType=DATE},
      "type" = #{type,jdbcType=DECIMAL},
      "LMS_Order_id" = #{lmsOrderId,jdbcType=DECIMAL},
      "LMS_Customer_id" = #{lmsCustomerId,jdbcType=DECIMAL},
      "LMS_Station_id" = #{lmsStationId,jdbcType=DECIMAL},
      "LMS_Station_Repetory_id" = #{lmsStationRepetoryId,jdbcType=DECIMAL},
      "LMS_Delivery_Staff__id" = #{lmsDeliveryStaffId,jdbcType=DECIMAL},
      "satisfy" = #{satisfy,jdbcType=VARCHAR},
      "description" = #{description,jdbcType=VARCHAR}
    where "id" = #{id,jdbcType=DECIMAL}
  </update>

  <!-- 新增的关系 -->
  <resultMap id="taskResultMap" type="lms.model.LmsTask" extends="BaseResultMap" >
    <association property="lmsCustomer" javaType="lms.model.LmsCustomer">
      <id column="ID" property="id" jdbcType="DECIMAL" />
      <result column="NAME" property="name" jdbcType="VARCHAR" />
      <result column="IDENTITY_ID" property="identityId" jdbcType="VARCHAR" />
      <result column="WORK_UNIT" property="workUnit" jdbcType="VARCHAR" />
      <result column="PHONE_EXT" property="phoneExt" jdbcType="VARCHAR" />
      <result column="MOBILE_PHONE" property="mobilePhone" jdbcType="VARCHAR" />
      <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
      <result column="POST_CODE" property="postCode" jdbcType="DECIMAL" />
      <result column="MAIL" property="mail" jdbcType="VARCHAR" />
      <result column="STATUS" property="status" jdbcType="DECIMAL" />
    </association>

    <association property="lmsStation" javaType="lms.model.LmsStation">
      <id column="id" property="id" jdbcType="DECIMAL" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="DECIMAL" />
      <result column="LMS_Admin_id" property="lmsAdminId" jdbcType="DECIMAL" />
    </association>

    <association property="lmsDeliveryStaff" javaType="lms.model.LmsDeliveryStaff">
      <id column="ID" property="id" jdbcType="DECIMAL" />
      <result column="NAME" property="name" jdbcType="VARCHAR" />
      <result column="PHONE" property="phone" jdbcType="DECIMAL" />
      <result column="STATION_ID" property="stationId" jdbcType="DECIMAL" />
    </association>

    <collection property="lmsOrderList" ofType="lms.model.LmsOrder">
      <result column="id" property="id" jdbcType="DECIMAL" />
      <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
      <result column="order_number" property="orderNumber" jdbcType="DECIMAL" />
      <result column="description" property="description" jdbcType="VARCHAR" />
      <result column="type" property="type" jdbcType="DECIMAL" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="LMS_Customer_id" property="lmsCustomerId" jdbcType="DECIMAL" />
      <result column="payer" property="payer" jdbcType="VARCHAR" />
      <result column="payer_address" property="payerAddress" jdbcType="VARCHAR" />
      <result column="payer_phone" property="payerPhone" jdbcType="DECIMAL" />
      <result column="payer_post_code" property="payerPostCode" jdbcType="DECIMAL" />
      <result column="datetime" property="datetime" jdbcType="DATE" />
      <result column="LMS_Admin_id" property="lmsAdminId" jdbcType="DECIMAL" />
    </collection>

    <collection property="lmsStationRepetoryList" ofType="lms.model.LmsStationRepetory">
      <id column="id" property="id" jdbcType="DECIMAL" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="DECIMAL" />
      <result column="LMS_Admin_id" property="lmsAdminId" jdbcType="DECIMAL" />
      <result column="LMS_Station_id" property="lmsStationId" jdbcType="DECIMAL" />
    </collection>
  </resultMap>

  <!--一对多映射-->
  <select id="findtaskMap" resultMap="taskResultMap">
    select
    LMS_TASK.*,LMS_ORDER.*,LMS_STATION_REPETORY.*,LMS_CUSTOMER.*,LMS_STATION.*,LMS_DELIVERY_STAFF.*
    from LMS_TASK,LMS_ORDER, LMS_STATION_REPETORY, LMS_CUSTOMER,LMS_STATION,LMS_DELIVERY_STAFF
    where LMS_TASK."LMS_Order_id" = LMS_ORDER."id"
    and LMS_TASK."LMS_Station_Repetory_id" = LMS_STATION_REPETORY."id"
    and LMS_TASK."LMS_Customer_id" = LMS_CUSTOMER."ID"
    and LMS_TASK."LMS_Station_id" = LMS_STATION."id"
    and LMS_TASK."LMS_Delivery_Staff__id" = LMS_DELIVERY_STAFF."ID"

  </select>

</mapper>